<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

  <!-- Content Wrapper. Contains page content -->
  <div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <!-- <h1>
        Contact
        <small>Cloud</small>
      </h1> -->
      <div style="font-size:25px;">
      	<ol class="breadcrumb">
        	<li><a th:href="@{/}"><i class="fa fa-home"></i> Home</a></li>
        	<li><a th:href="@{/agenda/abrir}"><i class="fa fa-book"></i> Agenda</a></li>
        	<li class="active"> Alterar senha</li>
      	</ol>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Alterar minha senha</h3>
        </div>
        
        <form role="form" th:action="@{/usuario/atualizar}" method="post" th:object="${usuario}">
          	<div class="box-body">
        		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        		<input type="hidden" th:field="*{id}"></input>
        		<input type="hidden" th:field="*{login}"></input>
        		<p class="well"><strong>Usuário: </strong><span th:text="*{login}"></span></p>
                <div class="form-group">
                  <label for="senhaAtual">Senha atual</label>
                  <input type="password" class="form-control" id="senhaAtual" name="senhaAtual" placeholder="Digite sua senha atual"></input>
                </div>
                <div class="form-group">
                  <label for="novaSenha">Nova senha</label>
                  <input type="password" class="form-control" id="novaSenha" th:field="*{senha}" placeholder="Digite a nova senha"></input>
                </div>
                <!-- <div class="form-group">
                  <label for="repetirSenha">Repetir nova senha</label>
                  <input type="password" class="form-control" id="repetirSenha" placeholder="Repita a nova senha"></input>
                </div>  -->
            </div>
            <div class="box-footer">
              	<a th:href="@{/agenda/abrir}" class="btn btn-default">Cancelar</a>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
          </form>
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <div layout:fragment="scripts"></div>

</html>
